@import './variables.scss';
@import './mixins.scss';

@media only screen and (min-width: 780px) {
  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .break {
      display: none;
    }
  }
}